<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="menunav.toggle()"><i class="fas fa-bars"></i></button>
    
    <span class="spacer"></span>
    
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav style="width: 200px;" #menunav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <main-nav></main-nav>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <footer></footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>