<div *ngIf="loading4" style="margin-bottom: 10px; margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [ngClass]="{'disabled': loading4 == true}" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >

  <div fxFlex="100%">
    <mat-card  class="mat-k-sk-style">

      <mat-card-header style="margin-top: -20px; margin-left: -13px;">
       
      </mat-card-header>

    </mat-card>
  </div>
</div>